/* 구글 머티리얼 아이콘 */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8, 크롬에서는 읽지않음 리소스 낭비없음*/
    src: local("Material Icons"), local("MaterialIcons-Regular"),
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
/* 공통버튼 */
.confirm_btn{
    background: rgb(18, 184, 134)!important;
    border: none!important;
}
.confirm_btn:hover,.confirm_btn:focus{
    background: rgb(32, 201, 151)!important;
}
.cancel_btn{
    background:rgb(134, 142, 150)!important;
    border: none!important;
}
.cancel_btn:hover,.cancel_btn:focus{
    background: rgb(173, 181, 189)!important;
}
.confirm_white_btn{
    color: rgb(18, 184, 134)!important;
    border-color:rgb(18, 184, 134)!important;
    background: rgb(255, 255, 255)!important;
}
.confirm_white_btn:hover,.confirm_white_btn:active{
    color: rgb(255, 255, 255)!important;
    background: rgb(18, 184, 134)!important;
}
